body
	{
		background-color:rgb(252, 250, 250);
	}

	h1{
		background-color: #264EF6;
font-family: 'Staatliches', cursive;
font-size: 60px;
color: white;
border: solid;
border-color:#264EF6;
border-radius: 80px;
	}

h2{
font-family: 'Press Start 2P', cursive;

border:dotted;

}

h3{
	background-color: #9854D3;
font-family: 'Petit Formal Script', cursive;
border:dashed;
border-color: black;

}


	a:link, a:visited
	{
		background-color: #264EF6;
font-family: 'Staatliches', cursive;
font-size: 35px;
color: white;
border: solid;
border-color:#264EF6;
border-radius: 50px;

	}

	a:hover, a:active {

		background-color: black;
		color: red;
	}




	p{
		background-color: #264EF6;
	
font-family: 'Caveat', cursive;
color: #DFDFC7;
border-style: dotted;
border-color: black;



